<div class="container-fluid bg-white">
  <footer class="container bg-light">
    <div class="row justify-content-md-center text-danger">
      <div class="col col-lg-2 col-md-12 col-sm-12">
        <img width="60" height="60" src="/assets/lobos-logo.png" class="rounded float-left" alt="lobos">
      </div>
      <div class="col col-lg-5 col-md-12 col-sm-12">
        <ul class="list-unstyled mt-3">
          <li class="media">
            <img class="mr-3" alt="whatsapp" src="/assets/whatsapp.png" data-holder-rendered="true" width="50">
            <div class="media-body">
              <h5 class="mb-1">55 3508 4806</h5>
            </div>
          </li>
          <li class="media ml-1 mt-1">
            <img class="mr-3" alt="whatsapp" src="/assets/mail.png" data-holder-rendered="true" width="45">
            <div class="media-body">
              <a class="mt-1 mb-1 text-danger card-link" data-auto-recognition="true" data-content="clublobosbasquetbol@gmail.com" href="mailto:clublobosbasquetbol@gmail.com" data-type="mail">clublobosbasquetbol@gmail.com</a>
              <!--<h5 class="mt-0 mb-1" href="mailto:clublobosbasquetbol@gmail.com">clublobosbasquetbol@gmail.com</h5>-->
            </div>
          </li>
          <li class="media ml-1 mt-1">
            <img class="mr-3" alt="whatsapp" src="/assets/facebook.png" data-holder-rendered="true" width="40">
            <img class="mr-3" alt="whatsapp" src="/assets/youtube.png" data-holder-rendered="true" width="40">
          </li>
        </ul>
      </div>
      <div class="col col-lg-5 col-md-12 col-sm-12">
        <b>
          Uxmal y Municipio Libre SN, esq. Cuauhtemoc,  Del. Benito Juarez, Sta Cruz Atoyac, 03300 Ciudad de México, CDMX.<br><br>
          * Metro línea dorada, estación Parque de los Venados.
        </b>
      </div>
    </div>
  </footer>
</div>
