<div class="container-fluid bg-white mt-5">
  <footer class="container bg-light">
    <div class="row justify-content-md-center text-danger">
      <div class="col col-lg-2 col-md-12 col-sm-12">
        <img width="100" src="assets/lobos-logo.png" class="rounded float-left" alt="lobos">
      </div>
      <div class="col col-lg-5 col-md-12 col-sm-12">
        <ul class="list-unstyled mt-3">
          <li class="media">
            <img class="mr-3" alt="whatsapp" src="assets/whatsapp.png" data-holder-rendered="true" width="50">
            <div class="media-body">
              <h5 class="mb-1">55 3508 4806</h5>
            </div>
          </li>
          <li class="media ml-1 mt-1">
            <img class="mr-3" alt="whatsapp" src="assets/mail.png" data-holder-rendered="true" width="45">
            <div class="media-body">
              <a class="mt-1 mb-1 text-danger card-link" data-auto-recognition="true" data-content="clublobosbasquetbol@gmail.com" href="mailto:clublobosbasquetbol@gmail.com" data-type="mail">clublobosbasquetbol@gmail.com</a>
            </div>
          </li>
          <li class="media ml-1 mt-1">
            <a class="" href="https://www.facebook.com/Club-Lobos-Basquetbol-1091322154317824/" target="_blank">
              <img class="mr-1" alt="facebook" src="assets/facebook.png" data-holder-rendered="true" width="40">
            </a>
            <a class="" href="https://www.youtube.com/channel/UCTkyKapNUvdExaXxn5WomBw/featured?view_as=subscriber" target="_blank">
              <img class="mr-0" alt="youtube" src="assets/youtube.png" data-holder-rendered="true" width="40">
            </a>
          </li>
          <li class="media ml-1 mt-1">
            <iframe
              src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FClubLobosBasquetbolCDMX%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=false&height=80&appId"
              width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true" allow="encrypted-media"></iframe>
          </li>
        </ul>
      </div>
      <div class="col col-lg-5 col-md-12 col-sm-12">
        <b>
          Uxmal y Municipio Libre SN, esq. Cuauhtemoc,  Del. Benito Juarez, Sta Cruz Atoyac, 03300 Ciudad de México, CDMX.<br><br>
          * Metro línea dorada, estación Parque de los Venados.
        </b>
      </div>
    </div>
  </footer>
</div>
